# ignore everything by default
*

# keep directories so Git can look inside them
!*/

# allow these file types
!*.py
!*.sh

# optional: ignore git/editor junk explicitly
.gitignore
.idea/
__pycache__/
*.pyc
.~lock*
